.feature-container {
  height: 100%;

  .feature-content {
    max-width: 600px;
  }
}

.feature {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 30px;

  .item {
    max-height: 100px;
  }

  .icon {
    display: inline-block;
    margin-right: 13px;
    height: 25px;
    width: 25px;
    vertical-align: middle;
  }
}

hr {
  width: 60%;
  margin: 0 auto;
  color: var(--clr-secondary);
}

@media screen and (max-width: 900px) {
  .feature {
    grid-template-columns: repeat(1, 1fr);
  }
}
