.feature-container {
  height: 50vh;
}

.feature-top {
  width: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 50px;
  justify-content: space-around;
  .feature-content {
    max-width: 600px;
  }
}

.feature-bottom {
  width: auto;
  margin: 0 auto;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  padding: 50px;
  .icon {
    display: inline-block;
    margin-right: 20px;
    height: 30px;
    width: 30px;
    vertical-align: middle;
  }
}

hr {
  width: 60%;
  margin: 0 auto;
  color: var(--clr-secondary);
}

@media screen and (max-width: 768px) {
  .feature-top {
    grid-template-columns: repeat(1, 1fr);
  }

  .feature-bottom {
    grid-template-columns: repeat(1, 1fr);
  }
}
