@import "./main.scss";
.wrapper {
  height: 80vh;
  width: auto;
  background-image: url(./images/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .header-content {
    color: var(--clr-secondary);
    //margin-left: 100px;
    margin-top: 40px;
  }
  button {
    color: var(--clr-primary);
    background-color: var(--clr-secondary);
    text-decoration: none;
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    border: none;
    border-radius: 6px;
    display: block;
    outline: none;
    font-size: 16px;
    position: relative;

    &:active {
      top: 1px;
    }
  }
}
.btn {
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);

  &:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: "";
    border-style: solid;
    transition-duration: 0.3s;
    transition-property: transform;
    left: calc(50% - 10px);
    bottom: 0;
    border-width: 10px 10px 0 10px;
    border-color: var(--clr-secondary) transparent transparent transparent;
  }
  &:hover:before,
  &:focus:before,
  &:active:before {
    transform: translateY(10px);
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    height: 100vh;
  }
  button {
    z-index: 0;
  }
}
