nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: transparent;
  color: var(--clr-secondary);
}

.logo {
  color: var(--clr-secondary);
  text-transform: uppercase;
  letter-spacing: 5px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: var(--clr-secondary);
  text-decoration: none;
  letter-spacing: 3px;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--clr-secondary);
  margin: 5px;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media screen and (max-width: 1024) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 0;
    background-color: var(--clr-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
  }

  .nav-link li {
    opacity: 0;
  }

  .burger {
    display: block;
    z-index: 1;
  }
  .nav-active {
    transform: translateX(0%);
  }
}
