@import "./nav";
@import "./header";
@import "./feature";
@import "./product";
@import "./about";
@import "./contact";
@import "./fonts";

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --clr-primary: #0a0a0a;
  --clr-secondary: #fbfcfc;
  --clr-feature: #de3163;

  --clr-dark: #040d21;

  --linear-3: #ff7170;
  --linear-4: #ffe571;

  // Delete?
  --linear-1: rgb(2, 123, 253) -24.67%;
  --linear-2: rgb(159, 81, 251) 53.5%;

  --mx-width-desk: 90%;
  --mx-width-phone: 100%;
}

body {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: var(--clr-secondary);
}

article,
section {
  max-width: var(--mx-width-desk);
}

// Phone
@media screen and (max-width: 388px) {
  body {
    overflow-x: hidden;
  }
  article,
  section {
    max-width: var(--mx-width-phone);
  }
}
