@import "./nav";
@import "./header";
@import "./fonts";
@import "./mediaquery";
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-bg: #fbfcfc;

  --clr-primary: #0a0a0a;
  --clr-secondary: #fbfcfc;
  --clr-feature: ##de3163;
}

body {
  padding: 0;
  margin: 0;
  border: 0;
}

// Phone
@media screen and (max-width: 388px) {
  body {
    overflow-x: hidden;
  }
}
