@import "./nav";
@import "./header";
@import "./feature";
@import "./fonts";
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-bg: #fbfcfc;

  --clr-primary: #0a0a0a;
  --clr-secondary: #fbfcfc;
  --clr-feature: #de3163;

  --test-1: rgb(2, 123, 253) -24.67%;
  --test-2: rgb(159, 81, 251) 53.5%;
}

body {
  padding: 0;
  margin: 0;
  border: 0;
}

// Phone
@media screen and (max-width: 388px) {
  body {
    overflow-x: hidden;
  }
}
